<h1>Novo Preço Personalizado</h1>

<% if @period_price.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @period_price.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [@inn, @room, @period_price], url: inn_room_period_prices_path(@inn, @room), local: true) do |form| %>
  <div>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :daily_value %>
    <%= form.number_field :daily_value %>
  </div>

  <div>
    <%= form.submit 'Salvar' %>
  </div>
<% end %>

<%= link_to 'Voltar', inn_room_path(@inn, @room) %>
