<% if reservation.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% reservation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<h3>Detalhes da Reserva</h3>
<% if reservation.id %>
  <h4><%= link_to("#{Reservation.model_name.human} #{reservation.code}", inn_room_reservation_path(reservation.room.inn, reservation.room, reservation)) %></h4>
<% end %>
<p><strong>Quarto:</strong> <%= reservation.room.name %> - <%= reservation.room.inn.trade_name %></p>
<p><strong>Data de Check-in:</strong> 
  <% if current_page?(active_reservations_path) || current_page?(closed_reservations_path) %>
    <%= I18n.localize reservation.active_reservation.checkin_date.to_date %>
  <% else %>
    <%= I18n.localize reservation.checkin_date %>
  <% end %>
</p>
<p><strong>Data de Check-out:</strong> 
  <% if current_page?(active_reservations_path) || current_page?(closed_reservations_path) %>
    <%= reservation.active_reservation.checkout_date.nil? ? 'Pendente' : I18n.localize(reservation.active_reservation.checkout_date).to_date %></p>
  <% else %>
    <%= I18n.localize reservation.checkout_date %>
  <% end %>
</p>
<p><strong>Número de Hóspedes:</strong> <%= reservation.guests_number %></p>

<p><strong>Total a Pagar:</strong> 
  <% if current_page?(active_reservations_path) || current_page?(closed_reservations_path) %>
    <%= number_to_currency(reservation.active_reservation.total_price) %>
  <% else %>
    <%= number_to_currency(reservation.total_price) %>
  <% end %>
</p>

<p><strong>Forma de Pagamento:</strong> 
  <% if current_page?(active_reservations_path) || current_page?(closed_reservations_path) %>
    <%= reservation.active_reservation.payment_method %>
  <% else %>
  <%= reservation.room.inn.payment_method.name %>
  <% end %>
</p>

<p><strong>Status da Reserva:</strong> <%= t reservation.status %></p>
<% if reservation.confirmed? %>
  <% if ((current_customer == reservation.customer && (reservation.created_at + 7.days).after?(Time.zone.now)) \
      || (current_user == reservation.room.inn.user && (reservation.checkin_date + 2.days).before?(Time.zone.now)))%>
    <%= button_to 'Cancelar Reserva', canceled_reservation_path(reservation) %>
  <% end %>
  <% if current_user == reservation.room.inn.user %>
    <%= button_to 'Realizar Check-in do Cliente', active_reservation_path(reservation) %>
  <% end %>
<% elsif reservation.active? %>
  <% if current_user == reservation.room.inn.user \
        && ((reservation.active_reservation.checkin_date).before?(Time.zone.now))%>
    <%= button_to 'Realizar Check-out do Cliente', closed_active_reservation_path(reservation.active_reservation) %>
  <% end %>
<% elsif reservation.closed? %>
  <% if current_customer == reservation.customer %>
    <% if reservation.review.nil? %>
      <%= link_to 'Avaliar Estadia', new_reservation_review_path(reservation) %>
    <% else %>
      <h4>Avaliação:</h4>
      <ul>
        <li><strong>Nota:</strong> <%= reservation.review.score %></li>
        <li><strong>Comentário:</strong> <%= reservation.review.description %></li>
      </ul>
      <% unless reservation.review.answer.nil? %>
        <p><strong>Resposta do Dono:</strong> <%= reservation.review.answer.description %></p>
      <% end %>
    <% end %>
  <% elsif current_user == reservation.room.inn.user %>
    <% if reservation.review.nil? %>
      Cliente ainda não avaliou a estadia.
    <% else %>
      <h4>Avaliação:</h4>
      <ul>
        <li><strong>Nota:</strong> <%= reservation.review.score %></li>
        <li><strong>Comentário:</strong> <%= reservation.review.description %></li>
      </ul>
      <% if reservation.review.answer.nil? %>
        <%= link_to 'Responder Cliente', new_review_answer_path(reservation.review) %>
      <% else %>
        <p><strong>Resposta do Dono:</strong> <%= reservation.review.answer.description %></p>
      <% end %>
    <% end %>
  <% else %>
    <% if reservation.review.nil? %>
        Cliente ainda não avaliou a estadia.
      <% else %>
        <h4>Avaliação:</h4>
        <ul>
          <li><strong>Nota:</strong> <%= reservation.review.score %></li>
          <li><strong>Comentário:</strong> <%= reservation.review.description %></li>
        </ul>
        <% unless reservation.review.answer.nil? %>
          <p><strong>Resposta do Dono:</strong> <%= reservation.review.answer.description %></p>
        <% end %>
      <% end %>
  <% end %>
<% end %>

<% if reservation.id %>
  <% if reservation.consumed_items.exists? %>
    <h2>Itens Consumidos</h2>
    <% reservation.consumed_items.each do |item| %>
      <div>
        <p><strong>Descrição:</strong> <%= item.description %></p>
        <p><strong>Preço:</strong> <%= number_to_currency(item.price) %></p>
      </div>
    <% end %>
    <% if reservation.closed? %>
      Consumo Total: <%= number_to_currency(reservation.consumed_total_price) %>
    <% end %>
  <% end %>

  <% if reservation.active? %>
    <h2>Adicionar Item Consumido</h2>
    <div>
      <%= render 'consumed_items/form', consumed_item: reservation.consumed_items.new %>
    </div>
  <% end %>
<% end %>
