<% if reservation.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% reservation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h3>Detalhes da Reserva</h3>
<h4><%= Reservation.model_name.human %> <%= reservation.code %></h4>
<p><strong>Quarto:</strong> <%= reservation.room.name %> - <%= reservation.room.inn.trade_name %></p>
<p><strong>Data de Check-in:</strong> <%= I18n.localize reservation.active_reservation.checkin_date.to_date %></p>
<p><strong>Data de Check-out:</strong> <%= reservation.active_reservation.checkout_date.nil? ? 'Pendente' : I18n.localize(reservation.active_reservation.checkout_date).to_date %></p>
<p><strong>Número de Hóspedes:</strong> <%= reservation.guests_number %></p>

<% if defined?(reservation.active_reservation.total_price) %>
  <p><strong>Total a Pagar:</strong> <%= number_to_currency(reservation.active_reservation.total_price) %></p>
<% end %>

<p><strong>Forma de Pagamento:</strong> <%= reservation.active_reservation.payment_method %></p>

<p><strong>Status da Reserva:</strong> <%= t reservation.status %></p>
<% if reservation.confirmed? %>
  <% if ((current_customer == reservation.customer && (reservation.created_at + 7.days).after?(Time.zone.now)) \
      || (current_user == reservation.room.inn.user && (reservation.checkin_date + 2.days).before?(Time.zone.now)))%>
    <%= button_to 'Cancelar Reserva', canceled_reservation_path(reservation) %>
  <% end %>
  <% if current_user == reservation.room.inn.user \
      && ((reservation.checkin_date).before?(Time.zone.now))%>
    <%= button_to 'Realizar Check-out do Cliente', closed_active_reservation_path(reservation) %>
  <% end %>
<% end %>