<h1><%= @inn.trade_name %></h1>
<div>
  <strong>Descrição: </strong><%= @inn.description %>
</div>
<div>
  <strong>E-mail: </strong><%= @inn.email %>
</div>
<div>
  <strong>Endereço:</strong> <%= @inn.address.street %>, <%= @inn.address.number %>, <%= @inn.address.district %>, <%= @inn.address.city %>, <%= @inn.address.state%> <strong>CEP:</strong> <%= @inn.address.cep%>
</div>
<div>
  <strong>Forma de Pagamento: </strong> <%= @inn.payment_method.name %>
</div>
<div>
  <strong>Horário de Check-in: </strong> <%= @inn.checkin_time.strftime("%H:%M") %>
</div>
<div>
  <strong>Horário de Check-out: </strong> <%= @inn.checkout_time.strftime("%H:%M") %>
</div>
<div>
  <% if @inn.accepts_pets %>
    Aceita animais
  <% else %>
    Não aceita animais
  <% end %>
</div>

<% if user_signed_in? && @inn.user_id.eql?(current_user.id) %>
  <h3>Quartos Cadastrados</h3>
  <% if @inn.rooms.any?(&:is_available?) %>
    <h4>Disponíveis</h4>
    <ul>
      <% @inn.rooms.select(&:is_available?).each do |room| %>
        <li><%= link_to(room.name, inn_room_path(@inn, room)) %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @inn.rooms.any? { |room| !room.is_available? } %>
    <h4>Indisponíveis</h4>
    <ul>
      <% @inn.rooms.reject(&:is_available?).each do |room| %>
        <li><%= link_to(room.name, inn_room_path(@inn, room)) %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= link_to('Cadastrar Quarto', new_inn_room_path(@inn))%>
  </div>
  <div>
    <%= link_to('Editar', edit_inn_path)%>
  </div>
<% else %>
  <% if @inn.rooms.any?(&:is_available?) %>
    <h3>Quartos Disponíveis</h3>
    <ul>
      <% @inn.rooms.select(&:is_available?).each do |room| %>
        <li><%= link_to(room.name, inn_room_path(@inn, room)) %></li>
      <% end %>
    </ul>
  <% else %>
    <h3>Não Existem Quartos Disponíveis</h3>
  <% end %>
<% end %>
<%= link_to('Voltar', root_path)%>
