<% if reservation.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% reservation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h3>Detalhes da Reserva</h3>
<% if reservation.id %>
  <h4><%= link_to("#{Reservation.model_name.human} #{reservation.code}", inn_room_reservation_path(reservation.room.inn, reservation.room, reservation)) %></h4>
<% end %>
<p><strong>Quarto:</strong> <%= reservation.room.name %> - <%= reservation.room.inn.trade_name %></p>
<p><strong>Data de Check-in:</strong> <%= I18n.localize reservation.checkin_date %></p>
<p><strong>Data de Check-out:</strong> <%= I18n.localize reservation.checkout_date %></p>
<p><strong>Número de Hóspedes:</strong> <%= reservation.guests_number %></p>

<% if defined?(reservation.total_price) %>
  <p><strong>Total a Pagar:</strong> <%= number_to_currency(reservation.total_price) %></p>
<% end %>

<h4>Forma de Pagamento:</h4>
<ul>
  <li><%= reservation.room.inn.payment_method.name %></li>
</ul>
<p><strong>Status da Reserva:</strong> <%= t reservation.status %></p>
<% if reservation.confirmed? %>
  <% if ((current_customer == reservation.customer && (reservation.created_at + 7.days).after?(Time.zone.now)) \
      || (current_user == reservation.room.inn.user && (reservation.checkin_date + 2.days).before?(Time.zone.now)))%>
    <%= button_to 'Cancelar Reserva', canceled_reservation_path(reservation) %>
  <% end %>
  <% if current_user == reservation.room.inn.user %>
    <%= button_to 'Realizar Check-in do Cliente', active_reservation_path(reservation) %>
  <% end %>
<% elsif reservation.closed? %>
  <% if current_customer == reservation.customer %>
    <% if reservation.review.nil? %>
      <%= link_to 'Avaliar Estadia', new_reservation_review_path(reservation) %>
    <% else %>
      <h4>Avaliação:</h4>
      <p><strong>Nota:</strong> <%= reservation.review.score %></p>
      <p><strong>Comentário:</strong> <%= reservation.review.description %></p>
    <% end %>
  <% end %>
<% end %>